.main-page{
    height: 100vh;
}






/* .nav-bar{
    grid-area: nav;
}

.chat-window{
    grid-area: cwindow;
}

.main-page{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: [row1-start] auto [row2-start] calc(100vh - 40px);
    grid-template-areas: 
      
      "nav nav nav nav"
      "cwindow cwindow cwindow cwindow";
} */