.full-height {
  height: 100%;
}

.box {
    height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:40px auto 40px;
grid-template-areas: 
"nav nav nav nav nav nav"
"mwindow mwindow owindow owindow owindow owindow"
"mbox mbox owindow owindow owindow owindow"
}
.nav{
    grid-area: nav
}
.message-window{
    grid-area: mwindow;
}
.message-box{
    grid-area: mbox;
}
.output-window{
    grid-area: owindow;
}
