<div class="wrapper">
  <div class="login">
    <div class="container">
      <form class="form-signin" novalidate>
        <img src="../../assets/images/logo.png" class="logo" alt="logo" />
        <!-- <label for="inputEmail">UserName</label> -->
        <input type="text" class="form-inputs" placeholder="User Name" required autofocus>
        <!-- <label for="inputPassword">Password</label> -->
        <input type="password" class="form-inputs" placeholder="Password" required>
        <button class="btn btn-primary btn-block" type="submit" (click)="onLogin()">Sign In</button>
      </form>
    </div>
  </div>
</div>