<div>
<div class="navigation bg-primary p-3 ">
  <ul class="nav justify-content-end">
    <li>
      <div class="image-fit">
        <img class="img-fluid" src="https://dble.bn-ent.net/en/assets/img/top/img_header_logo.png" alt="Deloitte logo">
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-white" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Settings</a>
    </li>
  </ul>
</div>
</div>
