<div class=" bg-light">
  <div class="message-box">
    <div class="input">
      <textarea type="text" class="message-input" id="userInput" placeholder="Type message..." autofocus></textarea>
    </div>
    <div class="clear">
      <button type="submit" class="message-submit" id="btn-clear">
        <i class="fa fa-cut" aria-hidden="true" title="clear context"></i>
      </button>
    </div>
    <div class="send">
      <button type="submit" class="message-submit" id="btn-submit">
        <i class="fa fa-paper-plane" aria-hidden="true" title="send"></i>
      </button>
    </div>
  </div>
</div>