<div class=" bg-light">
  <div class="message-box">

    <textarea type="text" class="message-input" id="userInput" placeholder="Type message..." autofocus></textarea>

    <button type="submit" class="message-submit clear-btn" id="btn_clear">
      <i class="fa fa-cut" aria-hidden="true" title="clear context"></i>
    </button>

    <button type="submit" class="message-submit" id="btn_submit">
      <i ng-class="fa fa-paper-plane" aria-hidden="true" title="send"></i>
    </button>

  </div>
</div>
